<a href="https://colab.research.google.com/github/AnndyLibeMoore/Python_My_Learn/blob/main/Contadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Contadores

In [1]:
import pandas as pd

In [2]:
list('asdasdasfasfasfsafsfasdasas')

['a',
 's',
 'd',
 'a',
 's',
 'd',
 'a',
 's',
 'f',
 'a',
 's',
 'f',
 'a',
 's',
 'f',
 's',
 'a',
 'f',
 's',
 'f',
 'a',
 's',
 'd',
 'a',
 's',
 'a',
 's']

In [3]:
#La serie separa cada caracter de la cadena de texto pero hay caracteres q se repiten
s = pd.Series(list('asdasdasfasfasfsafsfasdasas'))

In [4]:
s

0     a
1     s
2     d
3     a
4     s
5     d
6     a
7     s
8     f
9     a
10    s
11    f
12    a
13    s
14    f
15    s
16    a
17    f
18    s
19    f
20    a
21    s
22    d
23    a
24    s
25    a
26    s
dtype: object

In [6]:
#invoare al metodo de la serie unique
#me trae los valoqres unicos

s.unique()

array(['a', 's', 'd', 'f'], dtype=object)

In [7]:
#este método me dice cuántas veces se repiten los elementos
s.value_counts()

s    10
a     9
f     5
d     3
dtype: int64

In [8]:
#ejemplo real
datos = pd.read_csv('alquiler.csv', sep = ';')

In [9]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [11]:
#vamos a hacer el ejercicio de agrupacion por casa y departamento
datos.Tipo.unique()

array(['Habitación', 'Casa', 'Local comercial', 'Departamento',
       'Casa en condominio', 'Edificio completo', 'Flat', 'Tienda/Salón',
       'Almacén', 'Casa comercial', 'Casa de villa', 'Terreno', 'Cochera',
       'Loft', 'Tienda en Centro Comercial', 'Chacra',
       'Terreno em condominio', 'Oficina', 'Chalet', 'Studio', 'Hotel',
       'Local industrial'], dtype=object)

In [13]:
datos.Tipo.value_counts()

Departamento                  19532
Local comercial                6815
Tienda/Salón                   1426
Casa en condominio              996
Casa                            967
Habitación                      836
Almacén                         623
Flat                            476
Edificio completo               301
Casa comercial                  265
Casa de villa                   249
Tienda en Centro Comercial      247
Cochera                          82
Terreno                          70
Loft                             51
Oficina                          10
Terreno em condominio             5
Studio                            4
Hotel                             2
Chacra                            1
Chalet                            1
Local industrial                  1
Name: Tipo, dtype: int64