<a href="https://colab.research.google.com/github/AnndyLibeMoore/Python_My_Learn/blob/main/Creando_estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creando estructuras de datos

In [4]:
import pandas as pd

#Series

In [7]:
data = [1,2,3,4,5]

In [8]:
#generare una serie a partir de la lista anterior
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
#tengo una serie de indices que van del 0 - 4 y contienen los valores del 1 - 5
#yo puedo manipular los indices
#generare una list comprenhension
# genrare los nuevos indices cin un for y un range para decrile hasta donde debe generar ó contar
index = ['Linea' + str (i) for i in range(5)]
index

['Linea0', 'Linea1', 'Linea2', 'Linea3', 'Linea4']

In [10]:
#ahora generare nuestro objeto serie
#aqui le dire que el data seguire siendo la misma variable data y que los indices son La
#variable que acabe de crear index asiq ue debe tomarlos de allí
s = pd.Series(data = data, index = index)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [11]:
#otra forma de generar indices
#genrare un diccionario con nombre data
#le dire que el index sera 'Linea' + el iterador i que ira aumentando esta sera la llave
#segun el for que contara siguiendo el range hasta 5 que sera el valor que tendra el indice
data = {'Linea' + str(i) : i + 1 for i in range(5)}
data

{'Linea0': 1, 'Linea1': 2, 'Linea2': 3, 'Linea3': 4, 'Linea4': 5}

In [ ]:
hora

In [12]:
#ahora puedo crear la serie
s = pd.Series(data)
s

Linea0    1
Linea1    2
Linea2    3
Linea3    4
Linea4    5
dtype: int64

In [13]:
#hemos creado series con una list conprehensino y con diccionario

In [14]:
#ahora quiero generar intereacciones entre diccionarios
#quiero trabjr condos dicciionarios
#quiero que sume 2 unidades a cada elemento de la serie q ya tengo

s1 = s + 2

In [15]:
s1

Linea0    3
Linea1    4
Linea2    5
Linea3    6
Linea4    7
dtype: int64

In [16]:
#ahora aqui trabaje con serie y número
#quiero trabajar con dos series pero esto se puede si los valores
#tienen los mismos indices

s2 = s1 + s

In [17]:
s2
# aqui obtuvimos una suma de los valores de cada indice

Linea0     4
Linea1     6
Linea2     8
Linea3    10
Linea4    12
dtype: int64

In [ ]:
#si el indice no es el mismo, su resultado sera nan