<a href="https://colab.research.google.com/github/AnndyLibeMoore/Python_My_Learn/blob/main/Importando_la_base_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# Esto tiene formato de código
```

# Crear Dat Frame de diferentes tipops de archivos

In [2]:
import pandas as pd

In [ ]:
# click derecho en el lado izquierdo donde aparecen los archivos
#nueva carpta -> subir -> elijo los archivos q en este caso son de diferentes tipos

In [3]:
#importaremos el json
json = open('datos/alquiler json.json')
print(json.read())

[{"Tipo":"Habitación","Distrito":"San Borja","Cuartos":1,"Vacantes":0,"Suites":0,"Area":40,"Valor":1700.0,"Mantenimiento":500.0,"Impuesto":60.0},
{"Tipo":"Casa","Distrito":"Lurigancho","Cuartos":2,"Vacantes":0,"Suites":1,"Area":100,"Valor":7000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Ate","Cuartos":0,"Vacantes":4,"Suites":0,"Area":150,"Valor":5200.0,"Mantenimiento":4020.0,"Impuesto":1111.0},
{"Tipo":"Departamento","Distrito":"Pachacámac","Cuartos":1,"Vacantes":0,"Suites":0,"Area":15,"Valor":800.0,"Mantenimiento":390.0,"Impuesto":20.0},
{"Tipo":"Departamento","Distrito":"Ate","Cuartos":1,"Vacantes":0,"Suites":0,"Area":48,"Valor":800.0,"Mantenimiento":230.0,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Barranco","Cuartos":3,"Vacantes":1,"Suites":0,"Area":70,"Valor":1200.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Comas","Cuartos":2,"Vacantes":0,"Suites":0,"Area":50,"Valor":1300.0,"Mantenimiento":301.0,"Impuesto":17.0},
{"Tipo":"Casa en condominio","Distrito":"Ate","Cuartos":5,"Vacantes":4,"Suites":5,"Area":750,"Valor":22000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Casa en condominio","Distrito":"El Agustino","Cuartos":2,"Vacantes":2,"Suites":0,"Area":65,"Valor":1000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Pachacámac","Cuartos":0,"Vacantes":3,"Suites":0,"Area":695,"Valor":35000.0,"Mantenimiento":19193.0,"Impuesto":3030.0}]

In [4]:
#aqui nos muestra un objeto json
#un objeto json tiene llave y valor
#lo guardaremos en un dataframe
df_json = pd.read_json('datos/alquiler json.json')
df_json

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [5]:
# abruremos un txt
txt = open('datos/alquiler txt.txt')
print(txt.read())

Tipo	Distrito	Cuartos	Vacantes	Suites	Area	Valor	Mantenimiento	Impuesto
Habitación	San Borja	1	0	0	40	1700	500	60
Casa	Lurigancho	2	0	1	100	7000
Local comercial	Ate	0	4	0	150	5200	4020	1111
Departamento	Pachacámac	1	0	0	15	800	390	20
Departamento	Ate	1	0	0	48	800	230
Departamento	Barranco	3	1	0	70	1200
Departamento	Comas	2	0	0	50	1300	301	17
Casa en condominio	Ate	5	4	5	750	22000
Casa en condominio	El Agustino	2	2	0	65	1000
Local comercial	Pachacámac	0	3	0	695	35000	19193	3030

In [6]:
#importamos a un objeto pandas
df_txt = pd.read_table('datos/alquiler txt.txt')
df_txt

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [7]:
#ahora abriremos un excel
df_xlsx = pd.read_excel('datos/alquiler.xlsx')
df_xlsx

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [8]:
#ahora una pagina web, esta página no cambia, asi q podemos guarda localmente
df_html = pd.read_html('datos/datos_html_1.html')
df_html

[     Año                           Campeón                        Subcampeón  \
 0   2018                           Francia                           Croacia
 1   2014                          Alemania                         Argentina
 2   2010                            España                           Holanda
 3   2006                            Italia                           Francia
 4   2002                            Brasil                          Alemania
 5   1998                           Francia                            Brasil
 6   1994                            Brasil                            Italia
 7   1990                          Alemania                         Argentina
 8   1986                         Argentina                    Alemania (RFA)
 9   1982                            Italia                    Alemania (RFA)
 10  1978                         Argentina                           Holanda
 11  1974                    Alemania (RFA)                           Holanda
 12  1970                            Brasil                            Italia
 13  1966                        Inglaterra                    Alemania (RFA)
 14  1962                            Brasil                    Checoslovaquia
 15  1958                            Brasil                            Suecia
 16  1954                    Alemania (RFA)                           Hungría
 17  1950                           Uruguay                            Brasil
 18  1946  No celebrado (II Guerra Mundial)  No celebrado (II Guerra Mundial)
 19  1942  No celebrado (II Guerra Mundial)  No celebrado (II Guerra Mundial)
 20  1938                            Italia                           Hungría
 21  1934                            Italia                    Checoslovaquia
 22  1930                           Uruguay                         Argentina

                                 Sede
 0                              Rusia
 1                             Brasil
 2                          Sudáfrica
 3                           Alemania
 4                   Corea S. y Japón
 5                            Francia
 6                     Estados Unidos
 7                             Italia
 8                             México
 9                             España
 10                         Argentina
 11                    Alemania (RFA)
 12                            México
 13                        Inglaterra
 14                             Chile
 15                            Suecia
 16                             Suiza
 17                            Brasil
 18  No celebrado (II Guerra Mundial)
 19  No celebrado (II Guerra Mundial)
 20                           Francia
 21                            Italia
 22                           Uruguay  ]

In [9]:
#soloo quiero la posicion cero
df_html[0]

,Año,Campeón,Subcampeón,Sede
0,2018,Francia,Croacia,Rusia
1,2014,Alemania,Argentina,Brasil
2,2010,España,Holanda,Sudáfrica
3,2006,Italia,Francia,Alemania
4,2002,Brasil,Alemania,Corea S. y Japón
5,1998,Francia,Brasil,Francia
6,1994,Brasil,Italia,Estados Unidos
7,1990,Alemania,Argentina,Italia
8,1986,Argentina,Alemania (RFA),México
9,1982,Italia,Alemania (RFA),España
10,1978,Argentina,Holanda,Argentina
11,1974,Alemania (RFA),Holanda,Alemania (RFA)
12,1970,Brasil,Italia,México
13,1966,Inglaterra,Alemania (RFA),Inglaterra
14,1962,Brasil,Checoslovaquia,Chile
15,1958,Brasil,Suecia,Suecia
16,1954,Alemania (RFA),Hungría,Suiza
17,1950,Uruguay,Brasil,Brasil
18,1946,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
19,1942,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
20,1938,Italia,Hungría,Francia
21,1934,Italia,Checoslovaquia,Italia
22,1930,Uruguay,Argentina,Uruguay

In [ ]:
#otra página  esta página suele cambiar a diferencia
#de la anterios q son datos ya establecidos esta varia
#asi q tenemos q tener acceso online por link
#para importarla a pandas debo copiar el link y ese sera la direccin que importara

variable = pd.read_html('link de la página web')

In [ ]:
#en este ejemplo la siguiente página la uso el profe con el link, la pagina contenia tres tablas

In [ ]:
df_html_2 = pd.read_html('datos/datos_html_2.html')
df_html_2[0] #primera tabla

In [13]:
df_html_2[1] #tabla 2

                  Date            Reserves                      \
                  Date             Total 1            Required
0              Month 7             Month 7             Month 7
1            Apr. 2017             2344812              176616
2             May 2017             2288936              178630
3            June 2017             2269683              181324
4            July 2017             2296929              184242
5            Aug. 2017             2407173              183249
6           Sept. 2017             2357875              184248
7            Oct. 2017             2310902              182074
8            Nov. 2017             2378282              186968
9            Dec. 2017             2309823              189269
10           Jan. 2018             2281018              193209
11           Feb. 2018             2305256              190487
12           Mar. 2018             2230875              184151
13           Apr. 2018             2151047              191270
14                 NaN                 NaN                 NaN
15  Two weeks ending 8  Two weeks ending 8  Two weeks ending 8
16       Mar. 14, 2018             2290434              180526
17       Mar. 28, 2018             2184214              187557
18       Apr. 11, 2018             2170690              185173
19       Apr. 25, 2018             2162634              194180
20         May 9, 2018             2075389              196538

          Vault cash 2                                      \
                 Total Used to satisfy required reserves 3
0              Month 7                             Month 7
1                74055                               63392
2                72954                               63167
3                72881                               63137
4                73572                               63606
5                74401                               63158
6                73042                               62140
7                76481                               65200
8                74574                               63827
9                76633                               65549
10               77218                               66417
11               78800                               66481
12               75286                               63866
13               75657                               64855
14                 NaN                                 NaN
15  Two weeks ending 8                  Two weeks ending 8
16               73805                               62011
17               76641                               65760
18               75879                               63685
19               75843                               65644
20               74646                               65222

                             Monetary base                              \
             Surplus 4             Total 5 Total balances maintained 6
0              Month 7             Month 7                     Month 7
1                10663             3821697                     2281420
2                 9787             3774412                     2225769
3                 9745             3762780                     2206547
4                 9966             3795430                     2233323
5                11243             3910022                     2344015
6                10902             3874490                     2295735
7                11281             3829910                     2245701
8                10747             3907735                     2314455
9                11085             3850969                     2244274
10               10801             3824795                     2214601
11               12319             3855091                     2238775
12               11420             3800660                     2167009
13               10801             3727183                     2086192
14                 NaN                 NaN                         NaN
15  Two weeks ending 8  Two weeks ending 8          Two weeks ending 8
16               11794             3859851                     2228423
17               10881             3753207                     2118454
18               12194             3745889                     2107005
19               10199             3738127                     2096990
20                9424             3655386                     2010167


   Currency in circulation
0                  Month 7
1                  1540277
2                  1548643
3                  1556234
4                  1562107
5                  1566007
6                  1578756
7                  1584208
8                  1593280
9                  1606695
10                 1610195
11                 1616316
12                 1633651
13                 1640991
14                     NaN
15      Two weeks ending 8
16                 1631428
17                 1634753
18                 1638884
19                 1641137
20                 1645219

In [14]:
#tercera tabla
df_html_2[2]

                  Date Borrowings from the Federal Reserve  \
                  Date                               Total
0              Month 2                             Month 2
1            Apr. 2017                                  45
2             May 2017                                  56
3            June 2017                                  95
4            July 2017                                 166
5            Aug. 2017                                 220
6           Sept. 2017                                 224
7            Oct. 2017                                 151
8            Nov. 2017                                  65
9            Dec. 2017                                  75
10           Jan. 2018                                  58
11           Feb. 2018                                  20
12           Mar. 2018                                  16
13           Apr. 2018                                  51
14                 NaN                                 NaN
15  Two weeks ending 3                  Two weeks ending 3
16       Mar. 14, 2018                                  12
17       Mar. 28, 2018                                  18
18       Apr. 11, 2018                                  30
19       Apr. 25, 2018                                  49
20         May 9, 2018                                 102

                                                                \
               Primary           Secondary            Seasonal
0              Month 2             Month 2             Month 2
1                   21                   0                  24
2                   11                   0                  44
3                   15                   0                  80
4                   12                   0                 154
5                    7                   0                 213
6                   10                   0                 214
7                    4                   0                 146
8                   11                   0                  54
9                   43                   0                  33
10                  51                   0                   7
11                   7                   0                  14
12                   4                   0                  12
13                  16                   0                  35
14                 NaN                 NaN                 NaN
15  Two weeks ending 3  Two weeks ending 3  Two weeks ending 3
16                   3                   0                  10
17                   5                   0                  13
18                   6                   0                  24
19                  15                   0                  35
20                  43                   0                  59

                           Nonborrowed reserves 1
   Other credit extensions Nonborrowed reserves 1
0                  Month 2                Month 2
1                        0                2344767
2                        0                2288880
3                        0                2269588
4                        0                2296763
5                        0                2406953
6                        0                2357651
7                        0                2310751
8                        0                2378217
9                        0                2309747
10                       0                2280960
11                       0                2305236
12                       0                2230859
13                       0                2150996
14                     NaN                    NaN
15      Two weeks ending 3     Two weeks ending 3
16                       0                2290422
17                       0                2184197
18                       0                2170661
19                       0                2162585
20                       0                2075288

In [15]:
#así puedo inspeccionar los datos en tiempo real