<a href="https://colab.research.google.com/github/AnndyLibeMoore/Python_My_Learn/blob/main/M%C3%A9todos__para_Nulos__%C3%B3__de_Interpolaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]

In [3]:
s=pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [5]:
#llamaremos a fillna para sustituir
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [7]:
#aqui seguiran los nan porq noo hemos puesto el inplace
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

metodo ffill

este buscara de adelante hacia el final los nulos de nuestros datos, recorrera los datos el primer valor no es nulo, pues pasa al siguiente como este sí es nulo lo sustituye con el valor anterior a este, y asi sucesivamente, veamos

In [8]:
#pero veremos mas formas de manejar nulos

s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [10]:
#otro metodo es bfill
#este trabaja igual pero iniciando desde el
#último registro al inicio

s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [11]:
#otro metodo es mean
#osea se calculara la media de mis datos y este valor
#fijo reemplazara a los nulos
s.fillna(s.mean())

#este es el método más usado

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [12]:
#ahora qué pasa si quiero usar el ffill pero tengo
#muchos registros nulos de seguidos?
#no es recomendable sustituir varios nulos de seguido
#con el mismo valor, asi que aqui vamos a ponerle un
# limite y los otros los dejara en nulos

s.fillna(method = 'ffill', limit = 1)

#si lo hacemos asi evitamos valores y resultados erroneos

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [13]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [14]:
'''#y si tengo una serie de miles de elementos, no
es correcto llenar los nulos con los elementos del
valor superior, más bien podria llenar los nulos mas
proximos a la parte superios con ese valor y los
proximos a la parte final con el valor de la parte final
esto supondria una combiancion de metodos
como el ffill y el bfill
veamos
'''
#aqui llenaremos de adelante hacia atras
s1 = s.fillna(method= 'ffill', limit = 1)

s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [15]:
#ahora completaremos los nulos con el otro metodo

s2 = s1.fillna(method= 'bfill', limit = 1)
s2

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [ ]:
#Genial tenemos ya nuestros datos limpios y equilibrados