<a href="https://colab.research.google.com/github/AnndyLibeMoore/Python_My_Learn/blob/main/M%C3%A9todos_de_interpolaci%C3%B3n__Tratamientos_de_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Métodos de Interpolación

In [2]:
import pandas as pd

In [6]:
#otras formasd e tratar nulos
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0,6, None, 0.7]

In [7]:
s = pd.Series(data)

In [8]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.00
9     6.00
10     NaN
11    0.70
dtype: float64

In [9]:
# primero rellenamos
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.00
9     6.00
10    0.00
11    0.70
dtype: float64

In [11]:
#podemos tambien usando el metodo ffill
#este buscara de adelante al final los nulos
#ira al primer valor no es nulo pasa al siguiente es nulo lo sustituye
#con el valor anterior y asi
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.00
9     6.00
10    6.00
11    0.70
dtype: float64

In [12]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.00
9     6.00
10     NaN
11    0.70
dtype: float64

In [13]:
#ahora el método bfill, este hace lo contrario empieza
#de abajo para ariba y sustituye de esa forma
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.00
9     6.00
10    0.70
11    0.70
dtype: float64

In [14]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.00
9     6.00
10     NaN
11    0.70
dtype: float64

In [15]:
#a veces los nulos se sustituyen por la media de valores, es muy común
s.fillna(s.mean())

0     0.500000
1     1.264286
2     1.264286
3     0.520000
4     0.540000
5     1.264286
6     1.264286
7     0.590000
8     0.000000
9     6.000000
10    1.264286
11    0.700000
dtype: float64

In [16]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.00
9     6.00
10     NaN
11    0.70
dtype: float64

In [17]:
#si tuvieramos muchos nulos en secuencia, por ejemplo si suamos el fill, los
#siguientes 5 valores seran iguales al primer que no era nulo y al momento de
#gráficar esto tiene peso y puede alterar, no es recomendable
#sustituir tantos valores de seguidos, hay q poner un límite
#asi que eso haremos

s.fillna(method = 'ffill', limit = 1)

#aquí solo sustituimos 1 valor nulo

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.00
9     6.00
10    6.00
11    0.70
dtype: float64

In [18]:
#supongamos q la series q tenemos es de miles d elementos, np puedo rellenar
#todos los nulos con el valor del prier elemento, lo mas lógico seria q los primeros
#se llenaran con el valor de arriba y los ultimos con el de abajo, como si
#combinara el metodo ffill y bfill, cómo combinamos?

s1 = s.fillna(method = 'ffill', limit = 1)

In [19]:
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.00
9     6.00
10    6.00
11    0.70
dtype: float64

In [20]:
s2 = s1.fillna(method = 'bfill', limit = 1)

In [21]:
s2

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.00
9     6.00
10    6.00
11    0.70
dtype: float64